__pycache__/

# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glo
*.ist
*.lof
*.log
*.out
*.synctex.gz
*.toc
*.glg
*.gls
.synctex(busy)
documents/latex/*.pdf
main.pdf
db_name.txt
local.db
.csv

# Simulation artifacts
gym-pybullet-drones/
swarm-simulation/objects/human_urdf/
swarm-simulation/code-files/subject_location.json
.DS_Store
